.name{
    font-size: 100px;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
    color: khaki;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}
h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#bar1{
    background-color:mediumspringgreen ;
}
#bar2{
    background-color: lightcoral;
}
#bar3{
    background-color: skyblue;
}
b{
    font-family: helvetica;
    font-weight: bold;
    color: blue;
}
body{
    font-family: helvetica;
}